.service-card {
    background: #fff;
    padding: 2rem;
    border-radius:8px;
    margin-bottom: 2rem;
}
.service-card img {width: 100%;}
.bg-grey{
    background: #F5F5F5;
}
.card-header.d-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card-header.d-flex h4 {
    margin-bottom: 0;
    margin-left: 1rem;
    font-size: 24px;
    color: #141414;
    font-weight: 600;
}
.card-body p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 1.5rem;
}
@media only screen and (max-width:767px)  {
    
    h3.title-h3 {
        font-size: 31px;
        font-weight: 650;
    }
.card-header.d-flex h4 {
    font-size: 20px; }
    .card-body p {
    font-size: 15px;
    
}
.service-card {padding: 2rem 1rem;}
    

}