:root{
	--primary:#4450F2;
	--bordercolor:#1f9631;
    --dark: #141414;
	--white:#fff;
	--family: 'Poppins', sans-serif;
  --lightgradient:linear-gradient(180deg, #D9D9FD 0%, #F1F1FF 100%);
  --pink:#F11CB6;
  --orange:#FF7D05;
  --lightbg:#ECEEFE;
  --grey:#F5F5F5;
  
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  font-family: var(--family) !important;
 
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1280px;
}
}